.input {
    background-color: transparent !important;
    padding: 1.25vh 0 !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    font-weight: 300 !important;
    box-shadow: none !important;
    color: #fff !important;
    outline: none !important;
    font-size: 16px !important;
}
.btn  {
    font-family: 'Fira Sans Condensed', sans-serif !important;
}