.bikes-template-page-reuseable-blocks {
    .woo-login-popup-sc-modal, .woo-login-popup-sc-modal-overlay {
        display: none !important;
    }
    #ccm-motors-header {
        background-color: transparent;
    }
}

section.hero-banner-with-breadcrumbs {
    min-height: 100vh;
    background-color: var(--black-color);
}