.bikes-template-page-reuseable-blocks {
    .woo-login-popup-sc-modal,
    .woo-login-popup-sc-modal-overlay {
        display: none !important;
    }
    #ccm-motors-header {
        background-color: transparent;
        position: absolute;
    }
}
.main-holder.main-holder {
    padding-top: 0 !important;
    font-family: "Fira Sans Condensed", sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-style: normal !important;
        border: none;
        font-weight: 600 !important;
    }

    h2 {
        font-size: 83px;
    }
    p {
        font-weight: 300;
    }
    .btn-box {
        a,
        button {
            border: 1px solid var(--main-color);
        }
        &.btn-bordered {
            a,
            button {
                background-color: transparent !important;
                border: 1px solid var(--black-color) !important;
                color: var(--black-color) !important;
            }
        }
    }

    .image-section {
        img {
            width: 100%;
        }
    }
    .container {
        width: 100% !important;
        @media (min-width: 1500px) {
            max-width: 1420px;
        }
        @media (min-width: 1600px) {
            max-width: 1520px;
        }
        @media (min-width: 1700px) {
            max-width: 1620px;
        }
    }
}

.breadcrumbs {
    ul {
        list-style: none;
        padding: 0;
        flex-wrap: nowrap;
        li {
            a,
            span {
                font-size: 14px;
                text-transform: uppercase;
                color: var(--white-color);
            }
            &:not(:last-child) {
                &:after {
                    content: "";
                    width: 10px;
                    height: 1px;
                    background-color: var(--white-color);
                    display: inline-block;
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}

section.hero-banner-with-breadcrumbs {
    min-height: calc(100vh - 65px);
    background-color: var(--black-color);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    .video-holder {
        position: absolute;
        top: -120px;
        bottom: -120px;
        pointer-events: none;
        left: 0;
        right: 0;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .content {
        position: relative;
        z-index: 1;
    }

    .heading-box {
        h1 {
            font-size: 154px;
            text-transform: uppercase;
            color: var(--white-color);
            margin-bottom: 0;
            letter-spacing: 3.85px;
        }
    }
}

section.bike-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    .bike-title,
    .bike-nav {
        span,
        li,
        a {
            font-size: 15px;
            font-weight: 500;
            color: var(--black-color);
            text-transform: uppercase;
        }
    }

    .bike-nav {
        li {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

section.overview {
    padding-top: 70px;
    padding-bottom: 70px;
    .inner {
        max-width: 580px;
        .description-box {
            max-width: 480px;
            margin-left: auto;
            font-size: 20px;
            p {
                font-size: inherit !important;
            }
        }
    }
}

section.features {
    padding-top: 135px;
    padding-bottom: 135px;
    .feature-box {
        max-width: 300px;
        .feature-item {
            .heading-box {
                h5 {
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
            .description-box {
                font-size: 15px;
                p {
                    font-size: inherit !important;
                }
            }
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}

section.bike-specification {
    .specs-box {
        > div {
            flex: 0 0 auto;
            width: 50%;
        }
    }
}