.bikes-template-templates,
.page-template-page-components-v2 {
    .woo-login-popup-sc-modal,
    .woo-login-popup-sc-modal-overlay {
        display: none !important;
    }

    #ccm-motors-header {
        background-color: transparent;
    }
}

.content-margin {
    > * {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.mt-0 {
    margin-top: 0 !important;
}

.main-holder.main-holder,
footer.footer {
    padding-top: 0 !important;
    font-family: $font-fira !important;
    font-size: 16px;
    color: var(--black-color);
    line-height: 1.5;

    .container {
        @media (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-fira !important;
        font-style: normal !important;
        border: none;
        font-weight: 600 !important;
        color: var(--black-color);
    }

    h2 {
        font-size: 83px;
    }

    p {
        font-weight: 300;
    }

    .btn-box {
        a,
        button {
            border: 1px solid var(--main-color);

            @media (max-width: 767px) {
                padding: 10px 20px;
            }

            @media (max-width: 480px) {
                padding: 10px 12px;
                letter-spacing: 0 !important;
                font-size: 15px !important;
            }

            @include on-event {
                border-color: var(--black-color);
            }
        }

        &.btn-bordered {
            a,
            button {
                background-color: transparent !important;
                border: 1px solid var(--black-color) !important;
                color: var(--black-color) !important;

                @include on-event {
                    border-color: var(--black-color) !important;
                    background-color: var(--black-color) !important;
                    color: var(--white-color) !important;
                }
            }
        }
    }

    .image-section {
        img {
            width: 100%;
        }
    }

    .container {
        width: 100% !important;

        @media (min-width: 1500px) {
            max-width: 1420px;
        }

        @media (min-width: 1600px) {
            max-width: 1520px;
        }

        @media (min-width: 1700px) {
            max-width: 1620px;
        }
    }

    .heading-box {
        h2 {
            @media (max-width: 480px) {
                font-size: 33px !important;
            }
        }
    }

    img {
        max-width: 100%;
    }
}

.main-holder-v2.main-holder-v2 {
    h2 {
        font-size: 57px;
    }
}

.breadcrumbs {
    ul {
        list-style: none;
        padding: 0;
        flex-wrap: nowrap;

        li {
            a,
            span {
                font-size: 14px;
                text-transform: uppercase;
                color: var(--white-color);
            }

            &:not(:last-child) {
                &:after {
                    content: "";
                    width: 10px;
                    height: 1px;
                    background-color: var(--white-color);
                    display: inline-block;
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}

section.hero-banner-with-breadcrumbs {
    min-height: 100vh;
    background-color: var(--black-color);
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;

    .breadcrumbs {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .next-section {
        display: inline-block;
        margin-bottom: 30px;

        a {
            width: 60px;
            height: 60px;
            background-color: var(--main-color);
            color: var(--white-color);

            svg {
                width: 30px;
                height: 30px;
            }
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    .video-holder {
        position: absolute;
        top: -120px;
        bottom: -120px;
        pointer-events: none;
        left: 0;
        right: 0;
        pointer-events: none !important;

        iframe,
        video,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .desktop-only {
            @media (max-width: 991px) {
                display: none;
            }
        }

        .mobile-only {
            display: none;

            @media (max-width: 991px) {
                display: block !important;
            }
        }

        video,
        img {
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            object-fit: contain;
            transform: translateY(-50%);
        }

        img {
            object-fit: cover;
        }

        @media (max-width: 767px) {
            transform: scale(2.5);
        }

        @media (max-width: 480px) {
            transform: scale(3.5);
        }
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .heading-box {
        h1 {
            font-size: 154px;
            text-transform: uppercase;
            color: var(--white-color);
            margin-bottom: 0;
            letter-spacing: 3.85px;

            @media (max-width: 1199px) {
                font-size: 120px;
            }

            @media (max-width: 991px) {
                font-size: 100px;
            }

            @media (max-width: 767px) {
                font-size: 64px;
            }
        }
    }

    &.hero-banner-with-breadcrumbs-small {
        min-height: 440px;

        .video-holder {
            &:before {
                content: "";
                position: relative;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        .container {
            position: relative;
            z-index: 1;
        }
    }

    &.hero-banner-with-breadcrumbs.hero-banner-with-breadcrumbs {
        @media (max-width: 767px) {
            align-items: center !important;
            justify-content: center !important;
            text-align: center;
            padding-top: 10px;

            .inner {
                justify-content: center !important;
            }
        }
    }
}

body {
    &:not(.hide-header) {
        section.bike-navigation {
            &.fixed {
                .inner {
                    top: 70px;

                    @media (max-width: 991px) {
                        top: 57px;
                    }
                }
            }
        }
        #store-locator-holder #wpsl-wrap {
            .wpsl-search {
                @media (max-width: 991px) {
                    &.fixed {
                        #wpsl-search-wrap {
                            top: 57px;
                        }
                    }
                }
            }
        }
    }
}

section.bike-navigation {
    position: relative;
    z-index: 99;

    .inner {
        transition: 500ms;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--white-color);
    }

    &.fixed {
        .inner {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    .bike-title,
    .bike-nav {
        span,
        li,
        a {
            font-size: 15px;
            font-weight: 500;
            color: var(--black-color);
            text-transform: uppercase;
        }
    }

    .row {
        .col-bike-nav {
            @media (max-width: 991px) {
                display: none;
            }
        }

        @media (max-width: 1199px) {
            justify-content: space-between !important;
        }
    }

    .bike-nav {
        li {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    &.v2 {
        &.fixed {
            .inner {
                background-color: #171717;
            }
        }

        .inner {
            background-color: transparent;

            .btn-bordered {
                a {
                    border-color: var(--white-color) !important;
                    color: var(--white-color) !important;

                    @include on-event {
                        border-color: var(--white-color) !important;
                        background-color: var(--white-color) !important;
                        color: var(--black-color) !important;
                    }
                }
            }

            .bike-title,
            .bike-nav {
                span,
                li,
                a {
                    color: var(--white-color);
                }
            }
        }
    }
}

@mixin half-bg() {
    &:before {
        content: "";
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:after {
        content: "";
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
}

section.overview {
    padding-top: 70px;
    padding-bottom: 70px;

    .inner {
        .description-box {
            font-size: 20px;

            p {
                font-size: inherit !important;
            }

            @media (max-width: 480px) {
                font-size: 14px;
            }
        }
    }

    &:not(.v2) {
        .inner {
            max-width: 580px;

            .description-box {
                max-width: 480px;
                margin-left: auto;
            }
        }
    }

    &.v2.contact-form-holder {
        position: relative;

        .inner {
            max-width: 580px;

            .description-box {
                max-width: 480px;
                margin-left: auto;
            }
        }

        .container {
            position: relative;
            z-index: 3;
        }

        .contact-form {
            padding: 3vw;
            max-width: calc(480px + 6vw);
        }

        @media (min-width: 992px) {
            h2,
            p {
                color: var(--white-color);
            }

            @include half-bg();

            &:after {
                background-color: #1e1e21;
            }
        }
    }

    &.v2:not(.contact-form-holder) {
        position: relative;

        .bg-holder {
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: absolute;
            top: -66px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        p,
        li,
        h2 {
            color: var(--white-color);
        }

        .inner {
            .description-box {
                max-width: calc(480px + 6vw);

                @media (min-width: 992px) {
                    padding: 3vw;
                    margin-bottom: 100px;
                }
            }
        }

        .container {
            position: relative;
            z-index: 3;
        }

        @include half-bg();

        &:before {
            background-color: #1e1e21;
            top: -66px;
            z-index: 2;
        }

        &:after {
            background-color: #000;
            top: -66px;
            opacity: 0.75;
            z-index: 2;
        }
    }

    @media (max-width: 480px) {
        padding-bottom: 25px;
    }
}

section.features {
    padding-top: 135px;
    padding-bottom: 135px;

    .inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .feature-box {
        max-width: 300px;

        .feature-item {
            .heading-box {
                h5 {
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }

            .description-box {
                font-size: 15px;

                p {
                    font-size: inherit !important;
                }
            }

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    &.v2 {
        position: relative;
        background-color: #1e1e21;
        @include half-bg();

        .container {
            position: relative;
            z-index: 3;
        }

        h5,
        p {
            color: var(--white-color);
        }

        &:before {
            background-color: #171717;
        }

        &:after {
            background-color: #1e1e21;
        }

        .row {
            flex-direction: row-reverse;
        }
    }

    @media (max-width: 480px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

section.bike-specification {
    padding-top: 135px;
    padding-bottom: 135px;

    .specs-holder {
        position: relative;

        .specs-box {
            @media (min-width: 992px) {
                display: flex;
            }

            &:not(:last-child) {
                @media (max-width: 991px) {
                    margin-bottom: 40px;
                }
            }

            &.active {
                .specs-heading {
                    h3 {
                        color: var(--main-color);
                    }

                    .icon {
                        background-color: var(--black-color);

                        &:before,
                        &:after {
                            background-color: var(--white-color);
                        }

                        &:after {
                            content: none;
                        }
                    }
                }

                .specs-list {
                    max-height: 800px;
                }
            }

            > div {
                @media (min-width: 992px) {
                    flex: 0 0 auto;
                    width: 50%;
                }

                .specs-val {
                    font-size: 15px;
                }

                &.specs-heading {
                    h3 {
                        text-transform: uppercase;
                    }

                    .icon {
                        width: 42px;
                        height: 42px;
                        border: 1px solid var(--black-color);
                        display: inline-block;
                        position: relative;
                        flex: 0 0 42px;
                        margin-left: 15px;

                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            background-color: var(--black-color);
                        }

                        &:before {
                            width: 16px;
                            height: 2px;
                        }

                        &:after {
                            width: 2px;
                            height: 16px;
                        }

                        @media (min-width: 992px) {
                            display: none;
                        }
                    }

                    h3 {
                        font-size: 57px;
                        font-weight: 600;
                        margin-top: 0;
                        max-width: 550px;

                        @media (max-width: 1199px) {
                            font-size: 50px;
                        }

                        @media (max-width: 991px) {
                            font-size: 40px;
                        }

                        @media (max-width: 767px) {
                            font-size: 33px;
                        }
                    }

                    @media (min-width: 992px) {
                        padding-right: 30px;
                    }

                    @media (max-width: 991px) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 30px;
                    }
                }

                &.specs-list {
                    @media (min-width: 992px) {
                        transform: translateX(100%);
                        opacity: 0;
                        visibility: hidden;
                        width: 50%;
                        padding-left: 30px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: 500ms;
                    }

                    @media (max-width: 991px) {
                        max-height: 0;
                        transition: 500ms;
                        overflow: hidden;
                        position: relative;
                    }
                }
            }

            @media (min-width: 992px) {
                @include on-event {
                    > div {
                        &.specs-heading {
                            h3 {
                                color: var(--main-color);
                            }
                        }

                        &.specs-list {
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            &:not(:last-child) {
                .specs-heading {
                    margin-bottom: 60px;

                    @media (max-width: 991px) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

section.footer-buttons {
    @media (max-width: 767px) {
        display: none;
    }

    a {
        display: flex;
        align-items: center;
        font-size: 31px;
        font-weight: 500;
        justify-content: center;
        padding: 55px 15px;
        color: var(--black-color);
        text-decoration: none;
        transition: 500ms;

        @include on-event {
            background-color: var(--main-color) !important;
            color: var(--white-color);

            span {
                &.icon {
                    border-color: var(--white-color);

                    &:before {
                        background-color: var(--white-color);
                    }
                }
            }
        }

        &.light-blue {
            background-color: #e6eef0;
        }

        &.light-gray {
            background-color: #f5f5f5;
        }

        span.icon {
            transition: 500ms;
            width: 18px;
            height: 18px;
            display: inline-block;
            border-top: 3px solid var(--black-color);
            border-right: 3px solid var(--black-color);
            overflow: hidden;
            position: relative;
            margin-left: 25px;

            &:before {
                content: "";
                transition: 500ms;
                height: 3px;
                display: inline-block;
                background-color: var(--black-color);
                width: 30px;
                transform: rotate(-45deg);
                left: -3px;
                top: 1px;
                position: absolute;
            }
        }
    }
}

section.bike-scroller {
    position: relative;
    z-index: 3;
    background-color: var(--black-color);

    .images {
        .row-images {
            display: flex;

            .image {
                padding: 25%;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

body {
    &.bike-scroller-active {
        .bike-scroller {
            .inner {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }
        }
    }
}

section.wysiwyg-v2 {
    padding-top: 100px;
    padding-bottom: 100px;

    .inner {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        > * {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h3 {
        @media (min-width: 992px) {
            font-size: 33px;
        }
    }

    h2 {
        font-size: 57px !important;

        @media (max-width: 991px) {
            font-size: 50px !important;
        }

        @media (max-width: 767px) {
            font-size: 45px !important;
        }

        @media (max-width: 480px) {
            font-size: 33px !important;
        }
    }

    & + .two-columns-8-4 {
        padding-top: 0;
    }
}

section.two-column-carousel,
section.two-columns-8-4 {
    .inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

section.two-columns-8-4 {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        @media (min-width: 992px) {
            font-size: 40px;
        }
    }

    & + .two-columns-8-4 {
        padding-top: 0 !important;
    }
}

section.background-section {
    background-position: center;
    background-size: cover;
    padding-top: 10vw;
    padding-bottom: 10vw;
    position: relative;

    &:before {
        content: "";
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .inner {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        color: var(--white-color);
    }

    .heading-box {
        h2 {
            font-size: 57px !important;
            color: var(--white-color);

            @media (max-width: 991px) {
                font-size: 50px !important;
            }

            @media (max-width: 767px) {
                font-size: 45px !important;
            }

            @media (max-width: 480px) {
                font-size: 33px !important;
            }
        }
    }
}

section.two-column-carousel {
    padding-top: 140px;
    padding-bottom: 140px;

    .inner {
        position: relative;
        overflow: hidden;

        .row {
            .col-lg-5 {
                padding-bottom: 100px;
            }
        }

        .navigation-holder {
            position: absolute;
            bottom: 0;
            display: flex;
            z-index: 1;

            > div {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--main-color);
                color: var(--white-color);
                transition: 400ms;
                border: none;

                svg {
                    width: 30px;
                    height: 30px;
                }

                &.swiper-button-disabled {
                    background-color: #f2f2f3;
                }
            }

            @media (min-width: 991px) {
                left: calc(58.33333333% + 7.5px);
            }
        }
    }

    & + section.wysiwyg-v2 {
        padding-top: 0 !important;
    }

    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

section.accordion-section {
    background-color: #f2f2f3;
    padding-top: 140px;
    padding-bottom: 140px;

    .inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .accordion-holder {
        position: relative;

        .accordion-item {
            &:not(:last-child) {
                @media (max-width: 991px) {
                    margin-bottom: 40px;
                }
            }

            &.active {
                .accordion-heading {
                    .icon {
                        background-color: var(--black-color);

                        &:before,
                        &:after {
                            background-color: var(--white-color);
                        }

                        &:after {
                            content: none;
                        }
                    }
                }
            }

            &:not(.active) {
                .accordion-content {
                    height: 0 !important;
                }
            }

            > div {
                &.accordion-heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    h3 {
                        text-transform: uppercase;
                    }

                    .icon {
                        width: 42px;
                        height: 42px;
                        border: 1px solid var(--black-color);
                        display: inline-block;
                        position: relative;
                        flex: 0 0 42px;
                        margin-left: 15px;

                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            background-color: var(--black-color);
                        }

                        &:before {
                            width: 16px;
                            height: 2px;
                        }

                        &:after {
                            width: 2px;
                            height: 16px;
                        }
                    }

                    h3 {
                        font-size: 57px;
                        font-weight: 600;
                        margin-top: 0;
                        max-width: 550px;
                        font-size: 33px;
                    }
                }

                &.accordion-content {
                    transition: 500ms;
                    overflow: hidden;
                    position: relative;

                    .inner {
                        padding-top: 30px;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 40px;

                @media (max-width: 991px) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

section.slider-hero {
    padding-top: 200px;
    padding-bottom: 70px;
    position: relative;

    @media (max-width: 575px) {
        padding-top: 150px;
    }

    .slider-title {
        font-size: 282px;
        font-weight: bold !important;
        letter-spacing: 7px;
        opacity: 0.1;
        position: absolute;
        top: 69px;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 991px) {
            font-size: 200px;
        }

        @media (max-width: 767px) {
            font-size: 150px;
        }

        @media (max-width: 575px) {
            font-size: 105px;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 305px;
        font-weight: bold;

        @media (min-width: 768px) {
            display: none !important;
        }
    }

    .row-nav {
        margin-top: 20px;
        svg {
            width: 57px;
            height: 50px;
        }
    }

    .swiper-slide {
        .image-box {
            padding: 22%;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .description-box {
            margin-bottom: 20px;
        }

        .heading-box {
            h2 {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            @media (max-width: 767px) {
                padding-top: 30px;
            }
        }
    }
}

#store-locator-holder {
    > .container {
        @media (max-width: 991px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    #wpsl-gmap,
    #wpsl-result-list {
        width: 100%;
    }
    .wpsl-directions,
    .wpsl-info-actions {
        display: none !important;
    }

    #wpsl-wrap {
        #wpsl-result-list {
            ul {
                li {
                    padding: 15px;
                    border: none;
                    .btn-box {
                        @media (min-width: 992px) {
                            display: none;
                        }
                    }
                    @include on-event {
                        background-color: #f2f2f3;
                    }
                }
            }
        }
        .wpsl-search {
            margin: 0 0 20px 0;
            padding: 0;
            background-color: transparent;
            .wpsl-search-btn-wrap {
                margin: 0;
                #wpsl-search-btn {
                    margin: 0;
                    background-color: var(--main-color) !important;
                    border: none;
                    background-image: none;
                    color: var(--white-color);
                    border-radius: 0;
                    font-size: 15px;
                    padding: 14px 35px;
                    text-transform: uppercase !important;
                    min-height: 54px;
                    @media (max-width: 480px) {
                        min-height: 50px;
                    }
                }
            }
            .wpsl-input {
                margin: 0;
                #wpsl-search-input {
                    width: 100% !important;
                    display: block;
                    font-size: 15px !important;
                    padding: 14px;
                    border-radius: 0;
                    border: 1px solid;
                    @media (max-width: 480px) {
                        font-size: 13px !important;
                        min-height: 50px;
                    }
                }
            }
            @media (max-width: 991px) {
                background-color: var(--white-color);
                z-index: 0;
                &.fixed {
                    #wpsl-search-wrap {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    .row-location-details {
        font-family: $font-fira !important;
        margin-bottom: 12px;
        color: var(--black-color);
        .listing-title {
            a {
                color: var(--black-color);
                font-size: 14px;
            }
        }
        .listing-address {
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
                flex: 0 0 10px;
            }
            .listing-address-inner {
                font-size: 13px;
                > * {
                    display: inline !important;
                }
            }
        }
        .wpsl-store-thumb {
            margin: 0;
            float: none;
            width: 63px;
            height: 63px;
            object-fit: contain;
            border-radius: 3px;
        }
    }
    .btn-box {
        position: relative;
        height: 40px;
        a {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0 !important;
            text-decoration: none !important;
            &:before {
                content: "MORE INFO";
                font-size: 15px;
            }
        }
    }
    #wpsl-gmap {
        [class*="gm-style"] {
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            border-radius: 0 !important;
            outline: none !important;
            border: none !important;
            &[style*="overflow: scroll"] {
                overflow: hidden !important;
            }
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
    #wpsl-stores {
        height: auto !important;
    }
    .wpsl-info-window {
        background-color: var(--white-color);
        max-width: 250px;
        padding: 12px;
        outline: none !important;
        border: none !important;
        font-family: $font-fira !important;

        * {
            box-sizing: border-box !important;
        }
    }
}

.page-template-page-dealer-locator {
    .wysiwyg-v2 {
        padding-bottom: 50px;
        p {
            font-size: 20px;
        }
        @media (max-width: 991px) {
            padding-top: 50px;
        }
    }
}
